@use "ths.scss";

$col1: #ffffff;
$col2: #0e85b4;
$col3: #08ac08;
$col4: #e0e0e0;
$transition: all 0.3s;
$border: 8px;
$px: 8px;

.dashboard-container {
    @include ths.flex(column, center, left);
    gap: 1rem;

    .reservation-container {
        width: 100%;
        padding: $px * 2;

        .data {
            @include ths.flex(row, left, left);
            gap: 1rem;

            .box-list {
                @include ths.flex(row, left, left);
                gap: 1rem;
                flex-wrap: wrap;
                margin-top: calc($px / 2);
                width: 50%;

                .box {
                    padding: $px * 2;
                    width: 100%;
                    height: 154px;
                    background-image: linear-gradient(to bottom right, $col2, rgba($color: $col3, $alpha: 0.1));
                    color: $col1;
                    border-radius: $border * 2;
                    z-index: 5;
                }
            }
            .histogramme {
                border-radius: $border * 2;
                background-image: linear-gradient(to bottom right, rgba($color: $col2, $alpha: 0.3), $col1);
                box-shadow: 1px 1px 100px 0px rgba($color: #000000, $alpha: 0.5);
                z-index: 1;

                h2 {
                    color: $col2;
                    text-align: center;
                    padding: $px;
                }
                .bar-chart {
                    width: 500px;
                    height: 240px;
                    color: #08ac08;
                }
            }
        }
        h2 {
            margin-top: $px * 5;
            color: #0e85b4;
            z-index: 100;
        }
        .search-field {
            @include ths.flex(row, left, left);
            margin: $px auto auto auto;

            .form-control {
                width: 400px;
                border: 1px solid $col2;
                border-radius: 0px;
                color: $col2;
            }
            .btn {
                background-color: $col2;
                color: $col1;
                border-radius: 0px;
                margin-left: $px;
            }
        }
        .filter {
            .label {
                border-radius: 0px;
                border: none;
                margin: $px auto auto auto;
            }
            .btn-filter {
                border-radius: 0px;
                margin: $px $px auto auto;
                background-color: $col1;
                border: 1px solid $col2;
            }
        }
        .reservation-list {
            @include ths.flex(column, left, left);
            gap: 1rem;
            height: 380px;
            overflow-y: scroll;
            padding: $px * 2;
            margin: $px auto;
            background-color: $col1;
            border: 1px solid $col2;

            .list {
                border: 1px solid rgba($color: $col2, $alpha: 0.5);
                padding: $px * 2;

                .chambre {
                    padding: $px;
                    border-radius: $border;
                }
                .personne {
                    padding: $px;
                    border-radius: $border;
                }
                .control {
                    @include ths.flex(row, left, left);
                    gap: 1rem;

                    .btn {
                        border-radius: 0px;
                    }
                    .control-btn {
                        @include ths.flex();
                        gap: 1rem;
                        border-left: 1px solid rgba($color: #000000, $alpha: 0.5);
                        padding: 0px $px * 2;

                        .crud-btn {
                            border: none;
                            border-radius: $border;
                            box-shadow: 1px 1px 10px 1px rgba($color: #000000, $alpha: 0.3);
                            transition: $transition;
                        }
                        .valider {
                            color: $col2;
                        }
                        .update {
                            color: green;
                        }
                        .delete {
                            color: red;
                        }
                    }
                }
            }
        }
        //
    }
}

.confirm-delete {
    @include ths.flex();
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
    animation: modal 0.3s;

    .delete-modal {
        @include ths.flex(column, center, center);
        border-radius: $border * 2;
        padding: ($px) ($px * 2) ($px * 3) ($px * 2);
        background-color: $col1;
        box-shadow: 1px 1px 20px 1px rgba($color: #000000, $alpha: 0.3);

        .delete-modal-icon {
            font-size: $px * 3;
            padding: $px * 2;
            margin: $px;
            color: red;
        }
        .control-btn {
            @include ths.flex();
            gap: 1rem;

            .btn {
                padding: auto $px;
                border-radius: 0px;
                border: 1px solid rgba($color: red, $alpha: 0.3);
                border-radius: $px * 4;
                transition: $transition;
                width: 120px;
            }
            .cancel-btn {
                color: red;
            }
            .delete-btn {
                background-color: red;
                color: $col1;
            }
            .btn:hover {
                transform: scale(0.98);
            }
        }
    }
}
@keyframes modal {
    from {
        opacity: 0;
    }to {
        opacity: 1;
    }
}