@use "ths.scss";

$col1: #ffffff;
$col2: #0e85b4;
$col3: #08ac08;
$col4: #e0e0e0;
$transition: all 0.3s;
$border: 8px;
$px: 8px;

.dashboard-container {
    @include ths.flex(column, center, left);
    gap: 1rem;

    .reservation-container {
        width: 100%;
        padding: $px;

        .data {
            @include ths.flex();
            gap: 1rem;
            .box-list {
                @include ths.flex(row, left, left);
                gap: 1rem;
                flex-wrap: wrap;
                width: 50%;
                .box {
                    color: $col2;
                    padding: $px * 2;
                    width: 200px;
                    height: 154px;
                    background-color: $col1;
                }
                .ce-mois {
                    width: 400px + $px * 2;
                    // background-color: rgba($color: $col3, $alpha: 0.2);
                }
            }
            .histogramme {
                background-color: $col1;
                width: 500px;
                color: $col2;
                h2 {
                    text-align: center;
                }
            }
        }
        .search-field {
            @include ths.flex(row, left, left);
            margin: $px auto auto auto;

            .form-control {
                width: 400px;
                border: none;
                border-radius: 0px;
            }
            .btn {
                background-color: $col3;
                color: $col1;
                border-radius: 0px;
                margin-left: $px;
            }
        }
        .filter {
            .label {
                background-color: #e0e0e0;
                border-radius: 0px;
                border: none;
                margin: $px auto auto auto;
            }
            .btn-filter {
                border-radius: 0px;
                margin: $px $px auto auto;
                background-color: $col1;
                border: 1px solid $col2;
            }
        }
        .reservation-list {
            @include ths.flex(column, left, left);
            gap: 1rem;
            height: 380px;
            overflow-y: scroll;
            padding: $px * 2;
            margin: $px auto;
            background-color: $col1;

            .list {
                border: 1px solid $col2;
                padding: $px * 2;
            }
        }
    }
}