@use "ths.scss";

$col1: #ffffff;
$col2: #0a435a;
$col3: #08ac08;
$col4: #e0e0e0;
$transition: all 0.3s;
$border: 8px;
$px: 8px;

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto_Condensed-Medium.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.admin {
    @include ths.flex();
    font-family: Roboto;
    
    .menu-container, .content-container {
        height: 100vh;
        padding: $px * 2;
    }
    .menu-container {
        width: 20%;
        position: fixed;
        left: 0;
        background-color: $col2;
    }
    .content-container {
        width: 80%;
        margin-left: 20%;
        background-color: #f0f0f0;
    }
}

.dashboard-menu {
    @include ths.flex(column, left, left);

    .user-icon, .link {
        color: $col1;
        padding: $px;
    }
    .user-icon {
        @include ths.flex();
    }
    .link {
        text-decoration: none;
    }
}