@use "./ths.scss";

$px: 8px;
$tr: all 0.3s;

$col1: #ffffff;
$col2: #295cb9;
$col3: #555555;

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto_Condensed-Medium.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

.form-header {
    @include ths.flex(row, center, space-between);

    .service-img {
        width: 50px;
        transform: rotate(-45deg);
    }
}
.service-img2 { // image for Inscrire and confirmMdp component
    width: 50px;
}

.auth {
    @include ths.flex();
    gap: 1rem;
    font-family: Roboto;

    .form {
        padding: $px * 2;
        border: 1px solid rgba($color: $col2, $alpha: 0.2);
        background-color: $col1;
        border-radius: 0px;
        color: $col2;
        box-shadow: 2px 2px 50px 20px rgba($color: $col2, $alpha: 0.2);

        .arrow {
            background-color: $col1;
            border: none;
            transition: $tr;
        }
        .arrow:hover {
            transform: scale(0.98);
            background-color: $col2;
            color: $col1;
            padding: 0px $px;
        }
        .form-group {
            width: 400px;
            padding: $px;

            label {
                padding: $px $px $px 0px;
                color: $col3;
            }
            .form-control {
                width: 100%;
                border-radius: 0px;
            }
            .btn-inscrire, .btn-connex, .btn-valider {
                background-color: $col2;
                border: 1px;
                color: $col1;
            }
            .btn-inscrire:focus, .btn-connex:focus {
                background-color: $col2;
                color: $col1;
            }
        }
    }
    .connexion {
        margin-top: 80px;
        animation: connex 1s;
        position: relative;
    }
    .creation {
        margin-top: 80px;
        animation: creation 1s;
        position: relative;
    }
    @keyframes connex {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes creation {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .mdp {
        height: 500px;
        z-index: 20;
        box-shadow: 50px 50px 80px 500px rgba($color: $col1, $alpha: 1);
        animation: mdp 0.5s;
        position: absolute;
        top: 80px;
        border: 1px solid rgba($color: $col2, $alpha: 0.2);

        .cancel {
            border: 1px solid $col2;
            color: $col2;
        }
    }
    @keyframes mdp {
        from {
            opacity: 0;
            top: 0px;
        }
        to {
            opacity: 1;
            top: 80px;
        }
    }
    @media screen and (max-width: 450px) {
        .connexion {
            margin-left: 12px;
            margin-right: 12px;
        }
        .form {
            width: 100%;
            padding: $px;
            
            .form-group {
                width: 100%;
                font-size: 14px;

                label {
                    padding: $px $px $px 0px;
                }
                .form-control {
                    width: 100%;
                    font-size: 14px;
                }
            }
        }
        @keyframes connex {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        @keyframes mdp {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        @keyframes creation {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }
}

.success {
    @include ths.flex();
    font-family: Roboto;
    z-index: 2000;
    background-color: transparent;
    height: 100vh;
    backdrop-filter: blur(calc($px / 2));
    animation: message 1s;
    color: $col3;
    position: absolute;
    width: 100%;

    .message {
        background-color: $col1;
        padding: $px;
        border: 1px solid rgba($color: $col2, $alpha: 0.2);
        border-radius: $px;
        box-shadow: 1px 1px 50px 5px rgba($color: $col3, $alpha: 0.3);
        text-align: center;

        
        i {
            border: 2px solid rgba($color: $col2, $alpha: 0.6);
            padding: $px;
            border-radius: 100%;
            color: $col2;
        }
        h3 {
            color: $col2;
        }
        .btn {
            width: 100%;
            background-color: $col2;
            color: $col1;
            border-radius: 0px;
        }
        .btn:hover {
            background-color: $col2;
            color: $col1;
        }
    }
    @keyframes message {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}