@use "./ths.scss";

$px: 8px;
$tr: all 0.3s;

$color0: #ffffff;
$color1: #3f3f3f;
$color2: #1783db;

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto_Condensed-Medium.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

.auth {
    @include ths.flex();
    gap: 1rem;
    font-family: Roboto;

    .form {
        padding: $px * 2;
        border: 1px solid rgba($color: $color1, $alpha: 0.2);
        background-color: $color0;
        border-radius: $px * 2;
        color: $color1;
        box-shadow: 2px 2px 50px 20px rgba($color: $color1, $alpha: 0.2);

        button {
            background-color: $color0;
            border: none;
            transition: $tr;
        }

        button:hover {
            transform: scale(0.98);
            background-color: $color2;
            color: $color0;
            padding: 0px $px;
        }

        .form-group {
            width: 400px;
            padding: $px;

            label {
                padding: $px $px $px 0px;
                color: $color1;
            }

            .form-control {
                width: 100%;
                border-radius: 0px;
            }

            .btn-primary:focus {
                background-color: $color2;
                color: $color0;
            }
        }
    }

    .connexion {
        margin-top: 550px;
        animation: connex 0.5s;
        position: absolute;
    }

    .creation {
        margin-top: 700px;
        animation: creation 0.5s;
        position: absolute;
    }
    
    @keyframes connex {
        from {
            opacity: 0;
            margin-right: 50px;
        }
        to {
            opacity: 1;
            margin-right: -4;
        }
    }

    @keyframes creation {
        from {
            opacity: 0;
            margin-left: 50px;
        }
        to {
            opacity: 1;
            margin-left: -4;
        }
    }

    .mdp {
        height: 500px;
        z-index: 20;
        padding-top: 50px;
        padding-bottom: 150px;
        box-shadow: 50px 50px 80px 500px rgba($color: $color0, $alpha: 1);
        animation: mdp 0.5s;
        position: relative;
        top: 70px;
        border: 1px solid rgba($color: $color1, $alpha: 0.2);

        .cancel {
            background-color: $color0;
            color: $color2;
            border: 1px solid $color2;
        }
        .cancel:hover {
            background-color: $color0;
            color: $color2;
        }
    }

    @keyframes mdp {
        from {
            opacity: 0;
            top: 0px;
        }
        to {
            opacity: 1;
            top: 70px;
        }
    }

    @media screen and (max-width: 450px) {
        .form {
            width: 100%;
            
            .form-group {
                width: 100%;
                font-size: 14px;

                label {
                    padding: $px $px $px 0px;
                    color: $color1;
                }

                .form-control {
                    width: 100%;
                    font-size: 14px;
                }
            }
        }
        @keyframes connex {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        @keyframes mdp {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        @keyframes creation {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }
}