@use './ths.scss';

$px: 8px;
$col1: #ffffff;
$col2: #295cb9;
$col3: #555555;
$tr: 0.3s;


@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto_Condensed-Medium.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: Kugile;
    src: url('../assets/fonts/Kugile_Demo.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: Apple;
    src: url('../assets/fonts/AppleGaramond.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    header: logo & menu & user-btn-manager
*/
.header {
    @include ths.flex(row, center, space-between);
    padding: 0px ($px * 10);
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur($px);
    z-index: 500;

    .logo-field {
        @include ths.flex(row, end, center);
        color: $col2;

        .logo {
            width: 70px;
            padding: $px;
        }
        span {
            font-size: $px * 3;
            font-family: Kugile;
        }
    }
    .menu {
        @include ths.flex();
        font-family: Roboto;
        list-style: none;
        padding: $px;
        margin: $px*2 $px $px $px;
        font-size: 18px;

        .link {
            text-decoration: none;
            color: $col2;
            padding: $px * 2;
            margin: $px;
            transition: all $tr;
            border-radius: $px * 4;
        }
        .link:hover, .link:focus{
            background-color: #f0f0f0;
        }
    }
    .user-btn-manager {
        @include ths.flex();
        font-family: Roboto;
        padding: calc($px * 3 / 2);
        
        .status {
            .btn-user {
                border: 1px solid $col3;
                background-color: $col3;
                color: $col1;
                margin: $px;
                padding: $px 12px;
                border-radius: 100%;
            }
        }
        .btn-connecter, .btn-deconnecter {
            padding: calc($px * 3 / 2);
            border-radius: $px * 4;
            border: 1px solid rgba($color: $col2, $alpha: 0.3);
            transition: all $tr;
        }
        .btn-connecter {
            background-color: $col2;
            color: $col1;
        }
        .btn-deconnecter {
            background-color: $col1;
            color: $col2;
        }
        .btn-connecter:focus, .btn-deconnecter:focus {
            transform: scale(0.98);
        }
    }
    .drop-down {
        display: none;
    }
}
@media screen and (max-width: 1100px) {
    .header {
        padding: 0px ($px);
    }
}
@media screen and (max-width: 835px) {
    .header {
        .menu {
            display: none;
        }
        .user-btn-manager {
            display: none;
        }
        .drop-down {
            @include ths.flex();
            font-family: Roboto;
            margin-top: $px;
            transition: all $tr;

            .status {
                .btn-user {
                    border: 1px solid $col3;
                    border-radius: 100%;
                    background-color: $col3;
                    color: $col1;
                    margin: $px;
                    padding: $px 12px;
                }
            }
            .current {
                @include ths.flex();
                color: $col2;
                padding: calc($px / 3) $px calc($px / 3) ($px * 2);
                border: 1px solid rgba($color: $col2, $alpha: 0.3);
                border-radius: $px * 4;

                .current-page {
                    color: $col2;
                }
                .bar {
                    border: none;
                    outline: none;
                    background-color: transparent;
                    padding: $px;
                    color: $col2;
                    font-size: 19px;
                    transition: all $tr;
                }
                .bar:hover, .bar:focus {
                    rotate: 90deg;
                }
            }
            .drop-down-menu {
                display: none;
                width: 240px;
                position: absolute;
                top: $px * 8;
                right: $px;
                z-index: 200;
                background-color: $col1;
                height: 100vh;
                box-shadow: 2px 2px 40px 15px rgba($color: $col3, $alpha: 0.5);
                animation: menu $tr;

                li {
                    list-style: none;
                    padding: calc($px / 2);
                }
                .link { // menu
                    @include ths.flex(row, center, left);
                    padding: $px * 2;
                    text-decoration: none;
                    width: 100%;
                    color: $col2;
                    transition: all $tr;
                    i {
                        padding: calc($px / 2);
                    }
                }
                .link:hover, .link:focus{
                    background-color: #f0f0f0;
                }
                .user-btn {
                    @include ths.flex(row, center, center);
                    padding: $px * 1.5;
                    text-decoration: none;
                    color: $col1;
                    background-color: $col2;
                    width: 100%;

                    i {
                        padding: calc($px / 2);
                    }
                }
                @keyframes menu {
                    from {
                        right: -($px * 4);
                    }
                    to {
                        right: $px;
                    }
                }
            }
        }
        .drop-down:hover .drop-down-menu {
            display: inline;
        }
        .drop-down:focus .drop-down-menu {
            display: inline;
        }
        .link:focus .drop-down-menu {
            display: none;
        }
        
        .drop-down:hover .bar {
            rotate: 90deg;
        }
        
    }
}
@media screen and (max-width: 335px) {
    .header {
        .logo-field {
            span {
                display: none;
            }
        }
    }
}

/*
    page accueil: presentation & presentation de service & liste de service
*/
.accueil {
    @include ths.flex(column, center, center);

    .presentation {
        @include ths.flex(row, center, space-around);
        height: 100vh;
        color: $col3;
        width: 100%;
        padding: $px * 10;

        .text {
            padding: $px * 2;
            z-index: 2;

            .salutation {
                font-family: Kugile, serif;
                padding: 0px;
            }
            .introduction {
                font-family: Roboto, sans-serif;
                padding: $px * 2;
                border-left: 1px solid $col3;

                .btn {
                    border-radius: 0px;
                    background-color: $col2;
                    color: $col1;
                }
            }
        }
        .image {
            img {
                width: 600px;
            }
        }
    }
    @media screen and (max-width: 960px) {
        .presentation {
            padding: 0px;

            .image {
                img {
                    width: 400px;
                    position: absolute;
                    right: $px;
                    bottom: $px;
                }
            }
        }
    }
    @media screen and (max-width: 880px) {
        .presentation {
            .image {
                img {
                    width: 300px;
                    right: calc($px / 2);
                    bottom: calc($px / 2);
                }
            }
        }
    }
    @media screen and (max-width: 300px) {
        .presentation {
            .image {
                img {
                    width: 250px;
                    right: 0px;
                    bottom: 0px;
                }
            }
        }
    }
    .service-presentation {
        @include ths.flex(column, center, center);
        height: 100vh;
        font-family: Kugile;
        color: $col2;
        animation: servicePresentation $tr;
        animation-timeline: view();
        transition: all $tr;

        img {
            width: 300px;
        }
    }
    @media screen and (max-width: 300px) {
        .service-presentation {
            img {
                width: 100%;
            }
        }
    }
    @keyframes servicePresentation{
        from {
            transform: scale(0.5);
        }
        to {
            transform: scale(1);
        }
    }
    .service-list {
        @include ths.flex(column, center, center);
        font-family: Roboto;
        height: 100vh;
        flex-wrap: nowrap;
        gap: 1rem;
        color: $col3;
        animation: serviceList $tr;
        animation-timeline: view();
        transition: all $tr;

        .image {
            animation: hotel 0.3s;
            animation-timeline: view();

            img {
                width: 150px;
            }
        }
        @keyframes hotel {
            from {
                transform: scale(0.5);
            }
            to {
                transform: scale(1);
            }
        }
        .content {
            @include ths.flex();
            gap: 1rem;
            flex-wrap: wrap;
            margin: $px;

            .box {
                @include ths.flex(column, center, start);
                border-radius: $px * 4;
                box-shadow: 1px 1px 5px 1px rgba($color: $col3, $alpha: 0.2);
                width: 200px;
                height: 250px;
                padding: $px;
                transition: all 0.6s;

                .service {
                    border-radius: 100%;
                    background-color: #f0f0f0;

                    img {
                        width: 50px;
                        margin: $px;
                    }
                }
                p {
                    text-align: center;
                }
            }
            .box:hover {
                color: $col1;
                background-color: $col2;
            }
        }
        @media screen and (max-width: 480px) {
            .content {
                .box {
                    width: 180px;
                    height: 200px;
                    font-size: 14px;

                    .service {
                        img {
                            width: 40px;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 410px) {
            .image {
                img {
                    width: 90px;
                }
            }
            .content {
                .box {
                    width: 110px;
                    height: 120px;
                    font-size: 14px;
                    padding: $px*2;

                    .service {
                        img {
                            width: 30px;
                        }
                    }
                    h5 {
                        font-size: 15px;
                        text-align: center;
                    }
                    p {
                        display: none;
                    }
                }
            }
        }
    }
}

.deconnecter {
    @include ths.flex();
    width: 100%;
    height: 100vh;
    background-color: transparent;
    font-family: Roboto;
    position: fixed;
    top: 0;
    z-index: 999;
    backdrop-filter: blur($px);

    .deconnecter-modal {
        @include ths.flex(column, center, center);
        background-color: $col1;
        color: black;
        border: 1px solid rgba($color: $col2, $alpha: 0.5);
        border-radius: $px;
        box-shadow: 15px 15px 1000px 100px rgba($color: $col2, $alpha: 0.5);
        padding: $px * 2;
        animation: modal 0.6s;
        z-index: 1002;
        width: 275px;

        .modal-icon {
            font-size: 30px;
            color: green;
            padding: $px $px*2;
            margin: $px;
        }
        .body {
            text-align: center
        }
        .footer {
            @include ths.flex(row, center, space-between);
            margin-top: $px;
            width: 100%;

            .btn {
                width: 50%;
                border-radius: 0px;
            }
            .annuler {
                border: 1px solid green;
                color: green;
            }
            .confirmer {
                background-color: green;
                color: $col1;
                margin-left: $px;
            }
        }
    }
    @media screen and (max-width: 290px) {
        .deconnecter-modal {
            padding: $px;
            width: 100%;
            .body {
                font-size: 14px;
            }
        }
    }
    @keyframes modal {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 400px) { // bienvenue
    @keyframes text {
        from{
            opacity: 0;
        }
        to {
            opacity: 1;
        }
        
    }
}

.history {
    position: fixed;
    right: $px * 5;
    bottom: $px * 5;
    .fa-history {
        border: 1px solid $col2;
        font-size: 30px;
        padding: $px;
        background-color: $col2;
        color: $col1;
        border-radius: 100%;
        z-index: 1000;
        width: 50px;
        height: 50px;
    }
}

// .footer {
//     //height: 100vh;
//     width: 100%;

//     .white-space {
//         height: 55vh;
//         background-color: #eeeeee;
//     }
//     .main {
//         height: 45vh;
//         background-color: #1783db;
//     }
// }