@use "./ths.scss";

$px: 8px;
$col1: #ffffff;
$col2: #295cb9;
$col3: #555555;
$tr: all 0.3s;

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto_Condensed-Medium.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

font-face {
    font-family: Kugile;
    src: url('../assets/fonts/Kugile_Demo.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

.reservation {
    @include ths.flex(column, center, center);
    gap: 1rem;
    margin-top: 80px;
    font-family: Roboto;
    

    .offres {
        border: 1px solid #00000034;
        transition: $tr;
        margin: $px;

        .box {
            @include ths.flex(row, center, space-between);
            width: 400px;
            border: 1px solid #00000056;
            margin: $px;
            padding: $px/2 $px*2;
            transition: $tr;
            color: $col3;
            font-weight: bold;
            transition: $tr;

            .radio {
                padding: $px;
                width: 20px;
                height: 20px;
            }
            label {
                font-family: Kugile;
                padding: $px;
            }
            img {
                width: 50px;
            }
        }
        .box:hover {
            background-color: #edf3ff;
        }

        .question {
            border: none;
            outline: none;
            background-color: $col1;
            font-family: Roboto;
            text-decoration: underline;
            color: $col2;
            text-align: center;
            width: 100%;
            padding: $px;

            .fa-question {
                padding: $px;
                border-radius: 100%;
                background-color: $col2;
                color: $col1;
            }
        }
    }
    .offres:hover {
        box-shadow: 1px 1px 5px 0px rgba($color: $col2, $alpha: 0.4);
    }
    @media screen and (max-width: 450px) {
        .offres {
            margin: 0px $px;
            width: 98%;

            .box {
                margin: 2% $px;
                width: auto;
            }
        }
    }
    h5 {
        text-align: center;
    }
    .form {
        @include ths.flex(row, center, center);
        gap: 1rem;
        font-family: Roboto;
        padding: $px;
        margin: 0px 0px $px * 5 0px;
        border: 1px solid #00000034;
        transition: $tr;
        color: $col3;
        
        .form-group {
            margin: $px;
            @include ths.flex(row, center, center);

            label {
                padding: $px;
            }
            .form-control {
                border-radius: 0px;
            }
            .btn {
                background-color: $col2;
                color: $col1;
            }
        }
    }
    .form:hover, .form:focus {
        box-shadow: 1px 1px 5px 0px rgba($color: $col2, $alpha: 0.4);
    }
    @media screen and (max-width: 1200px) {
        .form {
            @include ths.flex(column, center, center);
            .form-group {
                width: 100%;
            }
        }
    }
    @media screen and (max-width: 460px) {
        .form {
            padding: $px*2;
            .form-group {
                margin: 0px;
                @include ths.flex(column, start, start);

                label {
                    margin: -$px 0px -$px 0px;
                }
                .form-control {
                    width: 100%;
                }
            }
        }
    }
}